{% extends 'catalog/base.html' %}
{% load my_tags %}
{% load static %}



{% block content %}
    <div class="row mb-3 container-fluid">
        <h1 class="text-center match-height mb-5">Рассылка</h1>
    </div>


    <div class="row">
        <div class="col-4 mb-3">
            <h3 class="text-center match-height mb-5 row-12">Статистика</h3>
            <h5 mb-5> Всего рассылок: {{ cnt_mailing_all }}</h5>
            <h5 mb-5> Активных рассылок: {{ cnt_mailing_active }}</h5>
            <h5 mb-5> Количество уникальных киентов для рассылок: {{ cnt_clients }}</h5>
        </div>


        <div class="col-8 mb-3">
            <a href="{% url 'blog:list' %}"><h3 class="text-center match-height mb-5 row-12">Блог</h3></a>
            <div class="row text-center match-height gy-3">
                {% for object in blogs_rand %}
                    <div class="col-4">
                        <div class="card mb-3 box-shadow h-100">
                            <div class="card-header d-flex align-items-center justify-content-center h-80">
                                <h5 class="my-0 font-weight-normal text-truncate"
                                    title="{{ object.caption }}">{{ object.caption }}</h5>
                            </div>
                            {#                        <div class="card-body flex-column" style="height:20rem !important">#}
                            <div class="card-body flex-column">
                                <img class="card-img-top mx-auto d-block"
                                     src="{% mediapath_tag object.image_blog %}"
                                     alt="{{ object.caption }}"
                                     style="width: 10rem; height: 10rem;">
                                <p title="{{ object.context_blog }}">{{ object.context_blog|get_to_len:100 }} </p>
                            </div>

                                                        <div class="d-block justify-content-between align-items-md-stretch mb-3 mx=auto">
                                                            <a href="{% url 'blog:view' object.pk %}" class="btn btn-outline-primary"> Посмотреть </a>
                            {#                                <div class="btn-group align-self-end">#}
{#                                                                <a href="{% url 'blog:view' object.pk %}" class="btn btn-group-sm btn-outline-secondary"> Посмотреть </a>#}
                             {#                                </div>#}
                                                        </div>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
