{% extends 'catalog/base.html' %}
{% load my_tags %}
{% load static %}


{% block content %}
    <div class="container-fluid">
        {% is_manager_mailing_tag as is_manager_mailing %}
        {% if not is_manager_mailing %}
            {#        {% if perms.mailing.add_message %}#}
            <a type="button" class="btn btn-block btn-outline-primary col-2 mb-3"
               href="{% url 'mailing:setting_create' %}">Добавить рассылку</a>
        {% endif %}

        {#        <table class="table table-striped">#}
        <table class="table table-hover">
            {% if object_list %}
                <thead>
                <tr text-center match-height>
                    <th>Дата от</th>
                    <th>Дата до</th>
                    <th>Период</th>
                    <th>Статус</th>
                    <th>Сообщение</th>
                    <th>Подписчиков</th>
                    <th></th>
                </tr>
                </thead>
            {% endif %}
            {% for object in object_list %}
                <tr text-center match-height>

                    <td text-center match-height>
                        {# {% if perms.mailing.change_mailingsetting %}#}
                        {% if not is_manager_mailing %}
                            <a href="{% url 'mailing:setting_edit' object.pk %}"
                               title="Изменить">{{ object.datestart }}</a>
                        {% else %}
                            {{ object.datestart }}
                        {% endif %}
                    </td>
                    <td>{{ object.dateend }}</td>
                    <td>{{ object.get_period_display }}</td>
                    <td>{{ object.get_status_display }}</td>
                    <td>{{ object.message }}</td>

                    <td text-center match-height>

                        {#  {% if perms.mailing.change_mailingclient %}#}
                        {% if not is_manager_mailing %}
                            <a href="{% url 'mailing:mailing_client' object.pk %}">{{ object.mailingclinet_set.count }}
                                подписчиков </a>
                        {% else %}
                            {{ object.mailingclinet_set.count }} подписчиков
                        {% endif %}
                    </td>


                    {% if perms.mailing.set_status %}
                        <td text-center match-height>


                            <a href="{% url 'mailing:change_status_setting' object.pk %}">
                                {% if object.status == object.STATUS_ACTIVATED %}
                                    Отключить
                                {% else %}
                                    Подключить
                                {% endif %}
                            </a>
                        </td>
                    {% endif %}

                    <td text-center match-height>
                        <div class="btn-group mb-3 btn-group-sm" role="group" aria-label="Edit">

                            {# {% if perms.mailing.delete_mailingsetting %}#}
                            {% if not is_manager_mailing %}
                                <a type="button" class="btn btn-danger btn-warning text-center match-height"
                                   href="{% url 'mailing:setting_delete' object.pk %}" title="Удалить"> X</a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>


{% endblock %}