{% extends 'catalog/base.html' %}
{% load my_tags %}
{% load static %}




{% block content %}

    {#    <script>#}
    {#        $(document).ready(function () {#}
    {#            $('#move-right').click(function () {#}
    {#                var selectedOptions = $('#available-clients option:selected');#}
    {#                $('#selected-clients').append(selectedOptions);#}
    {#            });#}
    {##}
    {#            $('#move-left').click(function () {#}
    {#                var selectedOptions = $('#selected-clients option:selected');#}
    {#                $('#available-clients').append(selectedOptions);#}
    {#            });#}
    {#        });#}
    {#    </script>#}

    <div class="container-fluid">
        <h2 class="my-0 font-weight-normal text-truncate text-center">Список рассылки</h2>
        <div class="row">
            <div class="col-5">
                <div class="col-12"></div>
                <h5 class="my-0 font-weight-normal text-truncate mb-3">
                    Тема сообщения: <br> {{ mailingsetting.message }} </h5> <br>
                <span class="mb-3">{{ mailingsetting.message.body }} </span>
                <br> <br>
                <hr>

                <h5 class="my-0 font-weight-normal text-truncate mb-3">
                    Рассылка: <br></h5>
                <h5 class="my-0 font-weight-normal text-truncate mb-3">
                    Дата начала: {{ mailingsetting.datestart }} <br>
                    Дата завершения: {{ mailingsetting.datestart }} <br>
                    Период: {{ mailingsetting.get_period_display }} <br>
                    Статус: {{ mailingsetting.get_status_display }} <br>
                </h5>
                <hr>
            </div>

            <div class="col-1"></div>
            <div class="col-6">
                <form method="POST">
                    {% csrf_token %}
                    <input type='hidden' id='pk_setting' name="pk_setting" value='{{ pk_setting }}'/>
                    <label for="selected-clients" class="label col-form-label-lg">Выбранные клиенты</label>
                    <select id="selected-clients" multiple name="selected_clients" class="form-select" size="7"
                            aria-label="Выбранные клиенты">
                        {% for item in selected_clients_list %}
                            <option value="{{ item.pk }}">{{ item.last_name }} {{ item.first_name }} ({{ item.email }})
                            </option>
                        {% endfor %}
                    </select>
                    <br>

                    <button class="btn btn-primary" id="move-right">Добавить</button>
                    <button class="btn btn-dark" id="move-left">Удалить</button>
                    <br><br>

                    <label for="available-clients" class="label col-form-label-lg">Клиенты для добавления</label>
                    <select id="available-clients" multiple name="available_clients" class="form-select" size="7"
                            aria-label="Клиенты для добавления">
                        {% for item in clients_for_select %}
                            <option value="{{ item.pk }}">{{ item.last_name }} {{ item.first_name }} ({{ item.email }})
                            </option>
                        {% endfor %}
                    </select>
                    <br>

                    {#                <button type="submit">Сохранить</button>#}
                    <a class="btn btn-success " href="{% url 'mailing:setting_list' %}">Сохранить</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}