{% extends 'catalog/base.html' %}
{% load my_tags %}
{% load static %}


{% block content %}
    <div class="container-fluid">
        {% if perms.mailing.add_message %}
            <a type="button" class="btn btn-block btn-outline-primary col-2 mb-3"
               href="{% url 'mailing:setting_create' %}">Добавить рассылку</a>
        {% endif %}

        {#        <table class="table table-striped">#}
        <table class="table table-hover">
            {% if object_list %}
                <thead>
                <tr text-center match-height>
                    <th>Дата от</th>
                    <th>Дата до</th>
                    <th>Период</th>
                    <th>Статус</th>
                    <th>Сообщение</th>
                    <th>Подписчиков</th>
                    <th></th>
                </tr>
                </thead>
            {% endif %}
            {% for object in object_list %}
                <tr text-center match-height>

                    {#                    {% if perms.mailing.change_mailingsetting %}#}
                    {#                        <a href="{% url 'mailing:setting_edit' object.pk %}" title="Изменить">#}
                    {#                    {% endif %}#}


                    <td text-center match-height>
                        {% if perms.mailing.change_mailingsetting %}
                            <a href="{% url 'mailing:setting_edit' object.pk %}" title="Изменить">{{ object.datestart }}</a>
                        {% else %}
                            {{ object.datestart }}
                        {% endif %}
                    </td>
                    <td>{{ object.dateend }}</td>
                    <td>{{ object.get_period_display }}</td>
                    <td>{{ object.get_status_display }}</td>
                    <td>{{ object.message }}</td>
                    {#                    {% if perms.mailing.change_mailingsetting %}#}
                    {#                        </a>#}
                    {#                    {% endif %}#}

                    <td text-center match-height>
                        {% if perms.mailing.change_mailingclient %}
                            <a href="{% url 'mailing:mailing_client' object.pk %}">{{ object.mailingclinet_set.count }}
                                подписчиков </a>
                        {% else %}
                            {{ object.mailingclinet_set.count }} подписчиков
                        {% endif %}
                    </td>
                    <td text-center match-height>
                        <div class="btn-group mb-3 btn-group-sm" role="group" aria-label="Edit">
                            {#                            {% if perms.mailing.change_mailingsetting %}#}
                            {#                                <a type="button" class="btn btn-block btn-outline-primary"#}
                            {#                                   href="{% url 'mailing:setting_edit' object.pk %}">Изменить</a>#}
                            {#                            {% endif %}#}
                            {#                            {% if perms.mailing.change_mailingclient %}#}
                            {#                                <a type="button" class="btn btn-block btn-outline-primary"#}
                            {#                                   href="{% url 'mailing:setting_edit' object.pk %}">Список рассылки</a>#}
                            {#                            {% endif %}#}
                            {% if perms.mailing.delete_mailingsetting %}
                                <a type="button" class="btn btn-danger btn-warning text-center match-height"
                                   href="{% url 'mailing:setting_delete' object.pk %}" title="Удалить"> X</a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>

        {#        <div class="row text-center match-height gy-3">#}
        {#            {% for object in object_list %}#}
        {#                <div class="col-3">#}
        {#                    <div class="card" style="height: 225px">#}
        {#                        <div class="card-header">#}
        {#                            <h5 class="my-0 font-weight-normal text-truncate"#}
        {#                                title="{{ object.subject }}">#}
        {#                                {{ object.subject }} </h5>#}
        {#                        </div>#}
        {#                        <div class="card-body">#}
        {#                            <div class="row text-center">#}
        {#                                <p title="{{ object.body }}">{{ object.body|get_to_len:100 }} </p>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                        <div class="card-footer">#}
        {#                            <div class="row text-center match-height">#}
        {#                                <div class="btn-group mb-3 btn-group-sm" role="group" aria-label="Edit">#}
        {#                                    {% if perms.mailing.change_message %}#}
        {#                                        <a type="button" class="btn btn-block btn-outline-primary"#}
        {#                                           href="{% url 'mailing:message_edit' object.pk %}">Изменить</a>#}
        {#                                    {% endif %}#}
        {#                                    {% if perms.mailing.delete_message %}#}
        {#                                        <a type="button" class="btn btn-block btn-outline-primary"#}
        {#                                           href="{% url 'mailing:message_delete' object.pk %}">Удалить</a>#}
        {#                                    {% endif %}#}
        {#                                </div>#}
        {#                            </div>#}
        {#                        </div>#}
        {##}
        {#                    </div>#}
        {#                </div>#}
        {#            {% endfor %}#}
        {#        </div>#}
{% endblock %}