{%  extends 'catalog/base.html'%}
{% load my_tags %}
{% load static %}

{% block content %}
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            "{{ object.caption }}"
                        </h3>
                        <p class="text-muted">
                            {{ object.slug }}
                        </p>
                    </div>
                    <div class="card-body flex-column">
                        <p class="text-muted">
                            Опубликовано: {{ object.created_at}}
                        </p>
                        {{ object.context_blog }}
                    </div>
                    <div class="card-footer">
                        Просмотры: {{ object.views_count }}
                    </div>
                </div>
            </div>
            <div  class="col-6 d-flex align-items-lg-start justify-content-center">
                <img src="{{object.image_blog | mediapath}}" alt="{{ object.caption }}" style="width: 40rem; height: 40rem;">
            </div>
        </div>
    </div>
{% endblock %}