{% load my_tags %}

<div class="card mb-4 box-shadow h-100 ">
    <div class="card-header d-flex align-items-center justify-content-center h-80">
{#                            <h5 class="my-0 font-weight-normal">{{ object.name_product }}</h5>#}
        <h5 class="my-0 font-weight-normal text-truncate" title="{{ object.name_product }}">{{ object.name_product }}</h5>
    </div>
{#                        <img class="card-img-top"#}
{#                            src="/media/{{ object.image_product }}"#}
{#                            alt="{{ object.name_product }}">#}


{#                        <img class="card-img-top"#}
{#                            src="{{ object.image_product|mediapath }}"#}
{#                            alt="{{ object.name_product }}">#}
    <img class="card-img-top mx-auto d-block"
        src="{% mediapath_tag object.image_product %}"
        alt="{{ object.name_product }}"
        style="width: 22rem; height: 20rem;">
{#                        <div class="card-body flex-column h-100" style="height:80% !important">#}
    <div class="card-body flex-column h-100" style="height:13rem !important">
        <h3 class="card-title pricing-card-title">{{object.price_buy|floatformat:0}} руб.</h3>
        {% if category == None or category == '' %}
            <div class="row text-center match-height">
                <h6 class="card-title pricing-card-title h-40">Категория: <br> {{object.category}}</h6>
    {#                            <p title="{{object.description}}">{{object.description|truncatechars:100}} </p>#}
            </div>
        {% endif %}
        <div class="row text-center h-25">
            <p title="{{object.description}}">{{object.description|get_to_len:100}} </p>
        </div>
        <div class="row text-center match-height">
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
        </div>
    </div>
</div>
