{% extends 'catalog/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3>Восстановление пароля</h3>
                </div>
                <div class="card-body">
                    <form method="post"  enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="mb-3">
                            {{ form.as_p }}
{#                          <label for="UserEmail" class="form-label">Ваша почта</label>#}
{#                          <input type="email" class="form-control" id="UserEmail" placeholder="name@email.com">#}
                        </div>
                        <span>Вам на почту будет отправлено письмо с новым паролем</span>
                        <button type="submit" class="btn btn-success">Восстановить пароль</button>
                        <a class="btn btn-danger" href="{% url 'catalog:home' %}">Отмена</a>
                    </form>
                </div>
                <div class="card-footer">

                </div>
            </div>
        </div>
    </div>

{% endblock %}