{% extends 'catalog/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6 text-center d-flex align-items-center" style="height: 300px;">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6 text-center">

        </div>
    </div>


{% endblock %}