<div class="card bg-black text-white d-inline-block" style="width: 18rem; height: 40rem;">
    <h5 class="card-header fa fa-bars"> Меню </h5>
    <div class="card-body bg-black h-100 style=" height: 10rem;
    "">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">

        <a class="nav-link {% if title == 'Рассылки' %} active {% endif %} fa fa-home float-start text-white bg-blue"
           id="v-pills-home-tab" data-toggle="pill" href="{% url 'mailing:home_mailing' %}" role="tab"
           aria-controls="v-pills-home" aria-selected="true">
            Главная (расссылки)
        </a>

        <a class="nav-link {% if title == 'Клиенты' %} active {% endif %} fa fa-home float-start text-white bg-blue"
           id="v-pills-home-tab" data-toggle="pill" href="{% url 'mailing:client_list' %}" role="tab"
           aria-controls="v-pills-home" aria-selected="true">
            Клиенты
        </a>
        <a class="nav-link {% if title == 'Сообщения' %} active {% endif %} fa fa-star float-start text-white bg-blue"
           id="v-pills-home-tab" data-toggle="pill" href="{% url 'mailing:message_list' %}" role="tab"
           aria-controls="v-pills-home" aria-selected="true">
            Сообщения
        </a>

        <a class="nav-link {% if title == 'Настройки' %} active {% endif %} fa fa-shopping-cart float-start text-white bg-blue"
           id="v-pills-home-tab" data-toggle="pill" href="{% url 'mailing:setting_list' %}" role="tab"
           aria-controls="v-pills-home" aria-selected="true">
            Настройка рассылки
        </a>
        <a class="nav-link {% if title == 'Журнал рассылки' %} active {% endif %} fa fa-shopping-cart float-start text-white bg-blue"
           id="v-pills-home-tab" data-toggle="pill" href="#" role="tab" aria-controls="v-pills-home"
           aria-selected="true">
            Журнал рассылки
        </a>
    </div>
</div>

<div class="card-footer text-muted bg-black ">
    <div class="dropdown dropup">
        <a class="btn btn-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <h5 class="fa fa-user-circle" aria-hidden="true"> Пользователь </h5>
        </a>

        <ul class="dropdown-menu">
            {% if user.is_authenticated %}
                {% if perms.users.view_user %}
                    <li><a class="dropdown-item" href="{% url 'users:user_list' section|default:"catalog" %}">Список
                        пользователей</a></li>
                    {#                    <hr>#}
                {% endif %}
                {#                <li><a class="dropdown-item" href="{% url 'users:profile' section|default:"mailing" %}">Профиль</a></li>#}
                <li><a class="dropdown-item" href="{% url 'users:profile' "mailing" %}">Профиль</a></li>
                <li><a class="dropdown-item" href="{% url 'users:logout' "mailing" %}">Выход</a></li>
            {% else %}
                <li><a class="dropdown-item" href="{% url 'users:register' section|default:"mailing" %}">Регистрация</a>
                </li>
                <li><a class="dropdown-item" href="{% url 'users:login' section|default:"mailing" %}">Вход</a></li>
            {% endif %}
        </ul>
    </div>

</div>
</div>