<div class="card bg-black text-white d-inline-block" style="width: 18rem; height: 40rem;">
      <h5 class="card-header fa fa-bars"> Меню </h5>
    <div class="card-body bg-black h-100 style="height: 10rem;"">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link {% if title == 'Клиенты' %} active {% endif %} fa fa-home float-start text-white bg-blue" id="v-pills-home-tab" data-toggle="pill" href="{% url 'catalog:home' %}" role="tab" aria-controls="v-pills-home" aria-selected="true">
                Клиенты
            </a>
            <a class="nav-link {% if title == 'Письма' %} active {% endif %} fa fa-star float-start text-white bg-blue" id="v-pills-home-tab" data-toggle="pill" href="{% url 'catalog:catalog' %}" role="tab" aria-controls="v-pills-home" aria-selected="true">
                Письма
            </a>

            <a class="nav-link {% if title == 'Настройка' %} active {% endif %} fa fa-shopping-cart float-start text-white bg-blue" id="v-pills-home-tab" data-toggle="pill" href="#" role="tab" aria-controls="v-pills-home" aria-selected="true">
                Настройка рассылки
            </a>
            <a class="nav-link {% if title == 'Журнал рассылки' %} active {% endif %} fa fa-shopping-cart float-start text-white bg-blue" id="v-pills-home-tab" data-toggle="pill" href="#" role="tab" aria-controls="v-pills-home" aria-selected="true">
                Журнал рассылки
            </a>
        </div>
    </div>

    <div class="card-footer text-muted bg-black " >
        <div class="dropdown dropup">
          <a class="btn btn-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <h5 class="fa fa-user-circle" aria-hidden="true"> Пользователь </h5>
          </a>

          <ul class="dropdown-menu">
              {% if user.is_authenticated %}
                <li><a class="dropdown-item" href="{% url 'users:profile' %}">Профиль</a></li>
                <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выход</a></li>
              {% else %}
                <li><a class="dropdown-item" href="{% url 'users:register' %}">Регистрация</a></li>
                <li><a class="dropdown-item" href="{% url 'users:login' %}">Вход</a></li>
              {% endif %}
          </ul>
        </div>

    </div>
</div>