{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    {#    <link href="{%  static 'css/bootstrap.min.css' %}" rel="stylesheet">#}
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{{ title }}</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    {#    <script src="{%  static 'js/bootstrap.bundle.min.js' %}" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>#}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
            integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
            crossorigin="anonymous"></script>
    {#    <script src="{%  static 'js/bootstrap.min.js' %}" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>#}
    {#      <script crossorigin="anonymous">#}
    {#        $('.row.match-height').each(function() {#}
    {#           $(this).find('.card').not('.card .card').matchHeight(); // Not .card .card prevents collapsible cards from taking height#}
    {#        });#}
    {#        </script>#}


</head>
<body class="p-3 m-0 border-0 bd-example m-0 border-0>

        <div class=" container">
<div class="row mt-5">
    <div class="col-2">
{#        {{ section }}#}
{#        {% include 'catalog/includes/inc_main_menu.html' %}#}
        {% include section|default:"catalog"|add:'/includes/inc_main_menu.html' %}
    </div>


    <div class="col-10">
        {% block content %}
        {% endblock %}
        <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="pills-home-tab">
            <!--                            <object v-100 h-100 type="text/html" data="https://runebook.dev/ru/docs/bootstrap/components/modal/index"></object>-->
            <!--                            location.href = "https://runebook.dev/ru/docs/bootstrap/components/modal/index";-->
        </div>
        {#                    </div>#}
    </div>
</div>

<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            Шоколад ручной работы
            <small class="d-block mb-3 text-muted">&copy; 2023</small>
        </div>
        <div class="col-6 col-md">
            <h5>Дополнительные возможности</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="{% url 'blog:list' %}">Блог</a></li>
                <li><a class="text-muted" href="#">Написать письмо</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            {% if user.is_staff %}
                <h5>Администрирование</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="{% url 'blog:list_all' %}">Блог (все записи)</a></li>
                    <li><a class="text-muted" href="/admin">Панель администратора</a></li>
                    <li><a class="text-muted" href="{%  url 'mailing:home_mailing' %}">Рассылка</a></li>
                </ul>
            {%  endif %}
        </div>
        <div class="col-6 col-md">
            <h5>О нас</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="{% url 'catalog:contacts_create' %}">Контакты</a></li>
            </ul>
        </div>
    </div>
</footer>


</div>
</body>
</html>

