{% extends 'catalog/base.html' %}
{% load my_tags %}
{% load static %}



{% block content %}

<script>
$('.row.match-height').each(function() {
   $(this).find('.card').not('.card .card').matchHeight(); // Not .card .card prevents collapsible cards from taking height
});
</script>


{#   <script>#}
{#      $(document).ready(function() {#}
{#          var x = 0;#}
{#          $(".card-deck .card-header, .card-deck .card-footer").each(function(id, it) {#}
{#            if ($(it).height() > x) {#}
{#              x = $(it).height();#}
{#            }#}
{#          }).height(x);#}
{#        });#}
{#  </script>#}

    <div class="container-fluid">
        <div class="row text-center match-height gy-3">
            {% for object in object_list %}
                <div class="col-3">
{#                    <div class="card mb-4 box-shadow">#}
                    <div class="card mb-4 box-shadow h-100 ">
                        <div class="card-header d-flex align-items-center justify-content-center h-80">
{#                            <h5 class="my-0 font-weight-normal">{{ object.name_product }}</h5>#}
                            <h5 class="my-0 font-weight-normal text-truncate" title="{{ object.name_product }}">{{ object.name_product }}</h5>
                        </div>
{#                        <img class="card-img-top"#}
{#                            src="/media/{{ object.image_product }}"#}
{#                            alt="{{ object.name_product }}">#}


{#                        <img class="card-img-top"#}
{#                            src="{{ object.image_product|mediapath }}"#}
{#                            alt="{{ object.name_product }}">#}
                        <img class="card-img-top mx-auto d-block"
                            src="{% mediapath_tag object.image_product %}"
                            alt="{{ object.name_product }}"
                            style="width: 22rem; height: 20rem;">
{#                        <div class="card-body flex-column h-100" style="height:80% !important">#}
                        <div class="card-body flex-column h-100" style="height:15rem !important">
                            <h3 class="card-title pricing-card-title">{{object.price_buy|floatformat:0}} руб.</h3>
                            <div class="row text-center match-height">
                                <h6 class="card-title pricing-card-title h-40">Категория: <br> {{object.category}}</h6>
    {#                            <p title="{{object.description}}">{{object.description|truncatechars:100}} </p>#}
                            </div>
                            <div class="row text-center h-25">
                                <p title="{{object.description}}">{{object.description|get_to_len:100}} </p>
                            </div>
                            <div class="row text-center match-height">
                                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}